.m-container {
  position: absolute;
  display: flex;
  background-color: white;
  min-width: 50rem;
  min-height: 25rem;
  border-radius: 2rem;
}

.m-control-panel {
  position: absolute;
  right: 0;
  min-height: 22rem;
  border-top-right-radius: 2rem;
  min-width: 12rem;
  background-color: rgb(150, 140, 128);
}

.m-time-knob {
  position: absolute;
  border-radius: 100rem;
  min-width: 2rem;
  min-height: 2rem;
  top: 7rem;
  left: 4.3rem;
  background-color: white;
}

.m-top-indicator {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin-left: auto;
  margin-right: auto;
  background-color: red;
  width: 5px;
  height: 2rem;
}

.m-window {
  position: absolute;
  min-width: 35rem;
  min-height: 20rem;
  border-radius: 2rem;
  left: 2rem;
  top: 2rem;
  background-color: black;
}

.m-screen {
  position: absolute;
  left: 4rem;
  top: 4rem;
  bottom: 4rem;
  right: 4rem;
  opacity: 0.8;
  background-color: black;
}

.m-screen-lit {
  opacity: 0.3;
  background-color: yellow;
}

.m-popcorn {
  position: absolute;
  left: 4rem;
  top: 4rem;
  bottom: 4rem;
  right: 4rem;
}

.m-time-panel {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  position: absolute;
  min-height: 3rem;
  min-width: 5rem;
  top: 2rem;
  left: 2rem;
  color: lime;
  user-select: none;
}

.m-effect-knob {
  position: absolute;
  border-radius: 100rem;
  min-width: 5rem;
  min-height: 5rem;
  bottom: 4rem;
  right: 4rem;
  background-color: white;
}

.m-effect-dial {
  position: absolute;
  left: 0;
  right: 0;
  top: -0.125rem;
  bottom: 50%;
  margin-left: auto;
  margin-right: auto;
  max-width: 1rem;
  background-color: grey;
  border-radius: 1rem;
  transform-origin: bottom;
}

.m-effect-text {
  margin: 0;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  position: absolute;
  margin: 0;
  color: black;
  font-size: 0.6rem;
  font-weight:bold;
  width: 2.5rem;
  text-align: center;
}

.m-stop {
  left: -2rem;
  top: 4rem;
}

.m-keep-warm {
  left: -3rem;
  top: 2rem;
}

.m-defrost {
  left: -2.5rem;
  top: 0.5rem;
}

.m-350w {
  left: -0.5rem;
  top: -1rem;
}

.m-500w {
  right: -0.5rem;
  top: -1rem;
}

.m-650w {
  right: -2.5rem;
  top: 0.5rem;
}

.m-750w {
  right: -3rem;
  top: 2rem;
}

.m-jet {
  right: -2rem;
  top: 4rem;
}